@media (max-width: 1023px) {
    #app {
        width: 100%;
        min-width: 320px;
    }

    .header__text {
        font-size: 3rem;
        letter-spacing: 0.2rem;
    }
    .header__text-timeline {
        font-size: 1.5rem;
        letter-spacing: 0.3rem;
    }

    .episode-selector-season {
        
    }

    .timeline-event {
        width: unset;        
        margin-left: 10px;
        margin-bottom: 30px;
        padding-left: 10px;
    }

    .timeline-event:nth-child(2n+1) .timeline-event-episode,
    .timeline-event:nth-child(2n+1) .timeline-event-text {
        text-align: left;
    }

    .timeline-event:before {
        left: 0;
        top: 0.55rem;
        width: 10px;
        transform: translateX(-10px);
    }

    .timeline-group-container {
        margin-bottom: 20px;
    }

    .timeline-group-container:after {
        left: 0;
        margin-top: 0;    
        transform: unset;
    }

    .timeline-event-text {
        margin: 5px 0;
    }

    
    .timeline-event-image {
        height: unset;
        max-height: unset;        
    }
    .timeline-event-image img {
        max-height: unset;      
        margin-top: unset;
    }    


    .timeline-group-timemark {
        margin-left: 0;
        font-size: 2rem;
        text-align: left;
        padding-left: 0;
        line-height: 1;
        border-bottom-width: 1px;
    }
}

@media (max-width: 768px) {
    .header__text {
        font-size: 2.5rem;
    }
}