:root {
	--color: rgb(250, 250, 250);	
	--accent-color: hsl(199, 51%, 21%);
	--accent-color-highlight: hsl(199, 51%, 23%);
	--accent-color-light: hsl(198, 25%, 57%);
	--accent-color-light-highlight: hsl(198, 25%, 62%);

	--bg: rgb(71,71,71);

	--darkgrey: rgb(41,41,41);
	--darkgrey-highlighted: rgb(46,46,46);
	
	--lightgrey: rgb(56,56,56);	
	--lightgrey-highlighted: rgb(53,53,53);

	--light: rgb(250, 250, 250);
	--light-highlighted: rgb(255, 255, 255);

	--transition-duration: 0.3s;

	--shadow: 5px 5px rgba(41,41,41, 0.4);

	--border-radius: 5px;
}

body {
	background-color: var(--bg);
	color: var(--color);
	overflow-y: scroll;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 12pt;
}

#app {
	width: 1000px;
	display: block;
	margin: auto;
	text-align: center;
}

h1 {
	font-size: 3em;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 20px;
}
h2 {
	font-size: 2em;
	font-weight: normal;
}
h3 {
	font-size: 1.5em;
	font-weight: normal;
	margin-top: 5px;
	margin-bottom: 10px;
}

.btn {
	cursor: pointer;
	padding: 5px;
	font-size: 1.3em;
	border-radius: var(--border-radius);	
}

.btn:focus {
	outline: none;
}

.btn-light {
	border: 1px solid var(--color);
	border: none;
	color: var(--color);
	background-color: var(--lightgrey);
}

.btn-light:hover {
	color: white;
	border-color: white;
	background-color: var(--accent-color);
}

.btn.btn-light.selected {
	background-color: var(--accent-color-highlight);
	color: white;
}

/*-------------------------------------------------EPISODE-SELECTOR--------------------------------------------------*/

.episode-selector {
	background-color: var(--darkgrey);
	padding: 15px;
	border-radius: var(--border-radius);
	box-shadow: var(--shadow);
}

.episode-selector-season {
	display: inline-block;
	width: 46%;
	margin: 2%;	
	padding-top: 0;
	padding-bottom: 10px;
}

.episode-selector-episodes .btn {	
	width: 9%;
	margin: 0.5%;
	box-sizing: border-box;
}

.timeline {
	padding-top: 20px;
}

/*------------------------------------------------------TIMELINE-EVENT-GROUP------------------------------------------------------*/

.timeline-group-container {
	position: relative;
	padding-top: 10px;
}

.timeline-group-container:after {
	position: absolute;
	top: 0;
	left: 50%;
	height: 100%;
	display: block;
	content: "";
	width: 2px;
	background-color: var(--light);	
	z-index: 1;
}

.timeline-group {
	margin-bottom: 0;	
}

.timeline-group-timemark {
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 13px;
	font-size: 2em;
	margin: 0;
	text-align: center;
	border: 2px solid var(--lightgrey);
	border: none;
	border-radius: var(--border-radius);
	background-color: var(--darkgrey);
	box-shadow: var(--shadow);
}

/*---------------------------------------------------------TIMELINE-EVENT---------------------------------------------------------*/

.timeline-event {
	display: block;	
	width: 30%;	
	padding-top: 10px;
	padding-bottom: 10px;
	box-sizing: content-box;	
	position: relative;	
	transition: transform var(--transition-duration);
}

.timeline-event:hover {
	cursor: default;	
}

.timeline-event-episode {
	display: block;	
	margin-bottom: 5px;
	border-radius: var(--border-radius);
	background-color: var(--darkgrey); 
	padding: 5px 10px;
	transition: all var(--transition-duration);
	box-shadow: var(--shadow);
}
.timeline-event:hover .timeline-event-episode {
	background-color: var(--darkgrey-highlighted);	
}
.timeline-event.highlighted .timeline-event-episode {
	background-color: var(--accent-color);
}
.timeline-event.highlighted:hover .timeline-event-episode {
	background-color: var(--accent-color-highlight);
}

.timeline-event-text {
	position: relative;
	display: block;
	background-color: var(--darkgrey);
	color: white;
	border-radius: var(--border-radius);
	padding: 10px;
	margin: 5px 0 10px 0;
	box-shadow: var(--shadow);
	transition: all var(--transition-duration);
}
.timeline-event:hover .timeline-event-text {	
	background-color: var(--darkgrey-highlighted);	
}
.timeline-event.highlighted .timeline-event-text {
	background-color: var(--accent-color-light);
	color: black;
}
.timeline-event.highlighted:hover .timeline-event-text {
	background-color: var(--accent-color-light-highlight);
}

.timeline-event:before {
	position: absolute;
	content: "";
	top: 35px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 2px solid rgba(0,0,0,0);
	background-color: var(--light);
	z-index: 2;
	transition: all var(--transition-duration);
}
.timeline-event:hover:before {	
	border: 3px solid var(--light);
	background-color: var(--lightgrey);	
}

.timeline-event-image {
	display: block;		
	transition: all var(--transition-duration);
}

.timeline-event-image img {
	display: block;
	width: 100%;
	height: auto;
	margin: 5px 0;
	margin-top: -100px;
	border-radius: var(--border-radius);	
	border: 1px solid var(--darkgrey);
	filter: brightness(85%);
	transition: all var(--transition-duration);
	box-shadow: var(--shadow);
}
.timeline-event:hover .timeline-event-image img {
	filter: brightness(100%);
}

.timeline-event:first-child .timeline-event-image img {
	margin-top: 0;
}

/*-----------------------------------------TIMELINE-EVENT-NTHCHILDS-------------------------------------------*/

.timeline-event:nth-child(2n+1) .timeline-event-episode {	
	text-align: right;
}

.timeline-event:nth-child(2n) .timeline-event-episode {
	text-align: left;
}

.timeline-event:nth-child(2n) {
	margin-left: 50%;
	margin-right: 20%;	
	padding-left: 2%;	
}

.timeline-event:hover:nth-child(2n) {
	transform: translateX(10px);
}
.timeline-event:hover:nth-child(2n)::before {
	transform: translateX(-11px);
}

.timeline-event:nth-child(2n+1) {
	margin-right: 50%;
	margin-left: 18%;
	padding-right: 2%;	
}

.timeline-event:hover:nth-child(2n+1) {
	transform: translateX(-10px);
}
.timeline-event:hover:nth-child(2n+1):before {
	transform: translateX(11px);
}

.timeline-event:nth-child(2n+1) .timeline-event-text {	
	text-align: right;
}
.timeline-event:nth-child(2n) .timeline-event-text {
	text-align: left;
}

.timeline-event:nth-child(2n):before {
	left: -6px;
}
.timeline-event:nth-child(2n+1):before {	
	right: -8px;
}


/*--------------------------------------------------ANIMATIONS-------------------------------------------------*/

.appear-enter-active, .appear-active { 
	transition: opacity var(--transition-duration);
}

.appear-enter, .appear-leave-to {
	opacity: 0;
}

